<?xml version="1.0"?>
<!-- MEF Component Management -->
<components>
  <catalogs>
    <add name="AppSettingsCatalog" type="Maverick.Web.Configuration.AppSettingsCatalog, Maverick.Web.Configuration" />
    <add name="ConnectionStringsCatalog" type="Maverick.Web.Configuration.ConnectionStringsCatalog, Maverick.Web.Configuration" />
  </catalogs>
  <directories>
    <add directory="bin" />
  </directories>
</components>