<?xml version="1.0"?>
<!-- Generic key-value Application Settings -->
<appSettings>
  <!--<add key="Maverick.Web.Identity.AcsSolutionName" value="your-solution-name-here" />-->
  <!--<add key="Maverick.Web.AppDefaultTheme" value="ThemeNameHere" />-->

  <add key="Maverick.Data.NHibernate.ConfigurationFilePath" value="Configuration\NHibernate.config" />
  <add key="Maverick.Data.DataContextFactoryName" value="NHibernate" />
  <add key="Maverick.Web.ControlPanelId" value="332883DC-9133-4333-9781-08CF6971C09C" />
</appSettings>