<?xml version="1.0"?>
<!-- Generic key-value Application Settings -->
<appSettings>
  <!--<add key="Maverick.Web.Identity.AcsSolutionName" value="your-solution-name-here" />-->
  
  <add key="Maverick.Data.NHibernate.ConfigurationFilePath" value="Configuration\NHibernate.config" />
  <add key="Maverick.Data.DataContextFactoryName" value="NHibernate" />
  <add key="Maverick.Web.AppDefaultTheme" value="Exploitable" />
</appSettings>