<?xml version="1.0"?>
<!-- Identity Model Settings -->
<microsoft.identityModel>
  <audienceUris>
    <add value="http://localhost/Maverick/_Identity/Land/AzureAcsLiveId" />
  </audienceUris>
  <federatedAuthentication enabled="true" />
  <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.SimpleIssuerNameRegistry, Microsoft.IdentityModel" />
</microsoft.identityModel>