<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="components" type="Maverick.Web.Configuration.ComponentsSection, Maverick.Web.Configuration" />
    <sectionGroup name="maverick">
      <section name="components" type="Maverick.Web.Configuration.ComponentsSection, Maverick.Web.Configuration" />
    </sectionGroup>
  </configSections>

  <components>
    <catalogs>
      <add name="FooCatalog" type="Maverick.Web.Tests.Configuration.ConfiguredCatalogTests+TestCatalog, Maverick.Web.Tests" />
    </catalogs>
    <directories>
      <add directory="Foo\Bar\Baz" />
    </directories>
    <assemblies>
      <add assembly="Maverick.Core" />
    </assemblies>
    <types>
      <add type="Maverick.Web.Tests.Configuration.ConfiguredCatalogTests+TestExport1, Maverick.Web.Tests" />
      <add type="Maverick.Web.Tests.Configuration.ConfiguredCatalogTests+TestExport2, Maverick.Web.Tests" />
    </types>
  </components>
  
  <maverick>
    <components>
      <catalogs>
        <add name="BarCatalog" type="Maverick.Web.Tests.Configuration.ConfiguredCatalogTests+TestCatalog, Maverick.Web.Tests" />
      </catalogs>
      <directories>
        <add directory="Baz\Bar\Foo\" />
      </directories>
      <assemblies>
        <add assembly="Maverick.Web" />
      </assemblies>
      <types>
        <add type="Maverick.Web.Tests.Configuration.ConfiguredCatalogTests+TestExport3, Maverick.Web.Tests" />
        <add type="Maverick.Web.Tests.Configuration.ConfiguredCatalogTests+TestExport2, Maverick.Web.Tests" />
      </types>
    </components>
  </maverick>

  <appSettings>
      <add key="TestSetting" value="TestSettingValue" />
      <add key="TestSetting1" value="TestSetting1Value" />
      <add key="TestSetting2" value="TestSetting2Value" />
    </appSettings>

    <connectionStrings>
      <add name="TestConnection" connectionString="do-nothing" providerName="System.Data.SqlClient" />
      <add name="TestConnection1" connectionString="do-nothing" providerName="System.Data.SqlClient" />
      <add name="TestConnection2" connectionString="do-nothing" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
